/* src/components/HomeCarousel.css */

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
  }
  
  .carousel-caption h3 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
  }
  
  .carousel-caption p {
    font-size: 1.2rem;
    color: white;
  }
  
  .carousel-item img {
    max-height: 400px;
    object-fit: cover;
  }
  